<div>
  <%= f.label :tiff_file, "Tiff File Representation" %>
  <%= f.file_field :tiff_file %>
  <a class="btn btn-small btn-danger" href="#" id="tiff_file_clear" title="Clear file"><i class="icon-remove"></i></a>
</div>
