<h1>New book tiff representation</h1>

<%= form_tag({:action => :create}, :multipart => true) do %>
    <p>
      <label for="upload">Select File: </label>
      <%= file_field_tag 'file_data' %>
      <a href="#" id="clear"><i class="icon-remove"></i></a>
    </p>

    <%= submit_tag "Upload" %>
<% end %>

<%= link_to 'Book tiff representations', book_tiff_representations_path %>
