<h1>Listing single_file_representations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @single_file_representations.each do |single_file_representation| %>
  <tr>
    <td><%= link_to 'Show', single_file_representation %></td>
    <td><%= link_to 'Edit', edit_single_file_representation_path(single_file_representation) %></td>
    <td><%= link_to 'Destroy', single_file_representation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Single file representation', new_single_file_representation_path %>
