<h2>Lav Ændringer til <%= @person_tei_representation.forename %></h2>
<%= render :partial => "form", :locals => { :person_tei_representation => @person_tei_representation } %>

<%= link_to 'View', @person_tei_representation %> |
<%= link_to 'Back', person_tei_representations_path %>
