<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to (@amu) do%>
        <i class="icon-eye-open"></i>
        <span class="hidden-phone">Show Person</span>
    <% end %>
  </li>
  <li>
    <%= link_to edit_person_path(@amu) do%>
        <i class="icon-edit"></i>
        <span class="hidden-phone">Edit</span>
    <% end %>
  </li>
  <li>
    <%= link_to people_path do %>
        <i class="icon-book"></i>
        <span class="hidden-phone">All AuthorityMetadataUnits</span>
    <% end %>
  </li>
</ul>