<div class="btn-group">
    <%#= link_to 'Show Person', @person, :class=>'btn' %> |
    <%= link_to 'Edit', edit_person_path(@person), :class=>'btn' %> |
    <%= link_to 'Preservation', preservation_person_path(@person), :class=>'btn' %> |
    <%= link_to 'People', people_path, :class=>'btn' %>
</div>
