<div>
  <br/>
  <%= f.label :tei_file, "TEI file representation for the person" %>
  <%= f.file_field :tei_file %>
  <a class="btn btn-small btn-danger" href="#" id="tei_file_clear" title="Clear file"><i class="icon-remove"></i></a>

  <%= fields_for :tei_metadata do |builder| %>
      <%= builder.text_field :label, :placeholder => "Label" %>
  <% end %>
</div>
