<h1>File Upload</h1>
<%= form_tag({:action => :create}, :multipart => true) do %>
    <p><label for="upload">Select File: </label>
    <%= file_field_tag 'file_data' %></p>
    <%= submit_tag "Upload" %>
<% end %>
