<div>
  <br/>
  <%= f.label :person, "Select author(s) for the work" %>
  <%= collection_select(:person, :id, Person.all, :id, :comma_seperated_lastname_firstname, options = { :prompt => "(Select authors)", :include_blank => false }, { :multiple => true }) %>
</div>
