<div class="control-group">
  <%= f.label :person_concerned, 'Select person/people concerned by the work', :class=>'control-label' %>
  <div class="controls">
  <%= collection_select(:person_concerned,
                        :id,
                        AuthorityMetadataUnit.all,
                        :id,
                        :comma_separated_lastname_firstname,
                        options = { :prompt => '(Select people)', :include_blank => false },
                        { :multiple => true, :class=>'input-block-level' }) %>
  </div>
</div>
