<div>
  <br/>
  <%= f.label :person_concerned, 'Select person/people concerned by the work' %>
  <%= collection_select(:person_concerned,
                        :id,
                        Person.all,
                        :id,
                        :comma_separated_lastname_firstname,
                        options = { :prompt => '(Select people)', :include_blank => false },
                        { :multiple => true }) %>
</div>
