<div>
  <br/>
  <%= f.label :person_described, "Select person/people described by the work" %>
  <%= collection_select(:person_described, :id, Person.all, :id, :comma_seperated_lastname_firstname, options = { :prompt => "(Select people)", :include_blank => false }, { :multiple => true }) %>
</div>
