<table class="table" border="1">
  <thead><tr><th><%= t 'works.edit.relationship_type' %></th><th><%= t 'works.edit.work_name' %></th></tr></thead>
  <tbody>
  <%= render partial: 'work_relations', locals: { edit: true } %>
  </tbody>
</table>
<%# This select is used to create the forms for updating work-to-work relations %>
<%= select_tag :ignore_me, options_for_select(@work.get_all_works_metadata.collect { |result| [result['search_result_title_tsi'], result['id']] }),
               class: 'input-block-level hidden', id: 'work-dropdown'%>