<table class="table" border="1">
  <thead><tr><th><%= t 'works.edit.relationship_type' %></th><th><%= t 'works.edit.work_name' %></th></tr></thead>
  <tbody>
  <%= render 'work_relations', locals: { edit: true } %>
  </tbody>
</table>

<%= collection_select(:work, :pid, Work.all, :id, :get_title_for_display,  options = { :include_blank => false },
                      { multiple: false, class: 'input-block-level hidden', id: "work-dropdown" }) %>