<h3 class="text-left">Add Single File Instance...</h3>
<div class="control-group">
    <%= f.label :basic_files, 'Single file instance for the work', :class=>'control-label'  %>
    <div class="controls">
        <span class="btn btn-file">
            <span class="js_button_text">Upload file</span>
            <%= f.file_field :basic_files, :multiple => false, :id => 'fileupload' %>
        </span>
        <a class="btn btn-danger" href="#" id="file_clear" title="Clear file"><i class="icon-trash icon-white"></i></a>
      <br/><br/>
      <ul id="file_name"></ul>
    </div>
</div>
