<div class="control-group">
    <%= f.label :basic_files, 'Single file instance for the work', :class=>'control-label'  %>
    <div class="controls">
        <span class="btn btn-file">
            <span class="js_button_text">Upload file</span>
            <%= f.file_field :basic_files, :multiple => false, :id => 'fileupload' %>
        </span>
        <a class="btn btn-danger" href="#" id="file_clear" title="Clear file"><i class="icon-trash icon-white"></i></a>
    </div>
</div>

<div class="control-group">
    <%= f.label :basic_files, 'Skip file characterisation?', :class=>'control-label' %>
    <div class="controls">
        <%= check_box_tag 'skip_file_characterisation', 'true', true %>
    </div>
</div>
