<%= form_for @work, :html=>{:multipart=>true}, :url => {:action=> "update_metadata"} do |f| %>
    <%= fields_for :work do |builder| %>
        <%= render 'metadata_fields', :f => builder %>
    <% end %>
    <br>
    <div class="action">
      <%= f.submit "Next" %>
    </div>
<% end %>

