<hr>
<div class="container">
    <address>
      <p>
        <strong>
          Det Kongelige Bibliotek<br>
          Nationalbibliotek og Københavns Universitetsbibliotek
        </strong>
        <small>
          <br>
          Søren Kierkegaards Plads 1 - 1219 København K - EAN: 5798 000795297 - <abbr title="Telefon nr.">Tlf: </abbr>+45 33 47 47 47 - E-mail <a href="mailto:kb@kb.dk">kb@kb.dk</a>
          <br>
          <span class="glyphicon glyphicon-thumbs-up"></span> <a href="https://www.facebook.com/DetKongeligeBibliotek" target="_blank">Følg os på Facebook</a>
        </small>
      </p>
    </address>
</div>