<div class="control-group">
  <%= f.label :person, "Select author(s) for the book", :class=>'control-label' %>
  <div class="controls">
  <%= collection_select(:person,
                        :id,
                        Person.all.sort_by(&:comma_separated_lastname_firstname),
                        :id,
                        :comma_separated_lastname_firstname,
                        options = { :prompt => "(Select authors)", :include_blank => false }, { :multiple => true, :class=>'input-block-level' }) %>
    </div>
</div>
