<div>
  <br/>
  <%= f.label :person, "Select author(s) for the book" %>
  <%= collection_select(:person,
                        :id,
                        Person.all.sort_by(&:comma_separated_lastname_firstname),
                        :id,
                        :comma_separated_lastname_firstname,
                        options = { :prompt => "(Select authors)", :include_blank => false }, { :multiple => true }) %>
</div>
