<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to (@book) do%>
        <i class="icon-eye-open"></i>
        <span class="hidden-phone">Show book</span>
    <% end %>
  </li>
  <li>
    <%= link_to edit_book_path(@book) do%>
        <i class="icon-edit"></i>
        <span class="hidden-phone">Edit</span>
    <% end %>
  </li>
  <li>
    <%= link_to preservation_book_path(@book) do %>
        <i class="icon-time"></i>
        <span class="hidden-phone">Preservation</span>
    <% end %>
  </li>
  <li>
    <%= link_to books_path(@book) do %>
        <i class="icon-book"></i>
        <span class="hidden-phone">Books</span>
    <% end %>
  </li>
</ul>