<div class="control-group">
  <%= f.label :tiff_file, "TIFF Image basic_files representations for the book", :class=>'control-label' %>
  <div class="controls">
      <span class="btn btn-file">
        <span class="js_button_text">Upload file</span>
        <%= f.file_field :tiff_file, :multiple => true, :id => "fileupload", :accept => 'image/tiff' %>
      </span>
      <a class="btn btn-danger" href="#" id="tei_file_clear" title="Clear file"><i class="icon-trash icon-white"></i></a>
      <%= fields_for :tiff do |builder| %>
          <%= builder.text_field :label, :placeholder => "Label" %>
      <% end %>
  </div>
</div>

