<%= form_for @book, :html=>{:multipart=>true}, :url => {:action=> "update_metadata"} do |f| %>
<%= fields_for :book do |builder| %>
    <%= render 'metadata_fields', :f => builder %>
<% end %>
<br>
<div class="action">
  <%= f.submit "Next" %>
</div>
<% end %>