<% # header bar for doc items in index view -%>
<div class="documentHeader clearfix">
    <% # main title container for doc partial view -%>
    <h5 class="index_title"><%= t('blacklight.search.documents.counter', :counter => (document_counter + 1 + @response.params[:start].to_i)) %>
      <% #Override the main title container view in Blacklight so that the hyperlink for the Book or Person links to the landing page for it  %>
      <a href="<%= "/#{document["active_fedora_model_s"].first.pluralize.to_s.downcase}/#{document.id.to_s}" %>"><%=document[document_show_link_field] %></a>
    </h5>
    <% # bookmark functions for items/docs -%>
    <%= render_index_doc_actions document, :wrapping_class => "documentFunctions span2" %>
</div>