<h4><%= t('adl.views.homepage.welcome') %></h4>
<p>
  <%= link_to t('adl.views.homepage.new_book'), new_book_path %> |
  <%= link_to t('adl.views.homepage.new_person'), new_person_path %>
</p>
<% #Creates a bit space in the page -%>

